# Virtual Environment
env/

# General
.DS_Store
.env

# Backend
*.pyc
__pycache__/
*.log

# Frontend
/frontend/node_modules/
/frontend/.next/
/frontend/out/
/frontend/build/
/frontend/.env
/frontend/.env*.local
/frontend/coverage
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts
